.news-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2vw;
    width: 27vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

    .news-box-title {
        font-size: var(--font-verybig);
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        margin-bottom: 1vw;
        text-align: center;
        white-space: nowrap;
    }

    .news-point{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        background-color: #222222;
        padding: 1vw;
        box-sizing: border-box;
        gap: 1vw;
        width: 100%;
        border-radius: 0.5vw;

        .news-point-title{
            font-size: var(--font-normal);
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.6vw;

            img{
                width: 1.3vw;
                height: auto;
            }
        }

        .news-point-text{
            font-size: var(--font-small);
            font-weight: 300;
        }

        .news-point-source{
            font-size: var(--font-small);
            font-weight: 300;
            color: #B8B8B8;
        }
    }
}

@media (max-width: 1440px) {

    .news-box {
        gap: 2.5vw;
        width: 35vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    
        .news-box-title {
            font-size: var(--font-verybig);
            gap: 1vw;
            margin-bottom: 1vw;
        }
    
        .news-point{
            padding: 1.3vw;
            gap: 1.3vw;
            border-radius: 0.6vw;
    
            .news-point-title{
                font-size: var(--font-normal);
                gap: 0.6vw;
    
                img{
                    width: 1.3vw;
                }
            }
    
            .news-point-text{
                font-size: var(--font-small);
            }
    
            .news-point-source{
                font-size: var(--font-small);
            }
        }
    }

}

@media (max-width: 1024px) {

    .news-box {
        gap: 3.2vw;
        width: 45vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    
        .news-box-title {
            font-size: var(--font-verybig);
            gap: 1vw;
            margin-bottom: 1vw;
        }
    
        .news-point{
            padding: 1.6vw;
            gap: 1.8vw;
            border-radius: 0.6vw;
    
            .news-point-title{
                font-size: var(--font-normal);
                gap: 0.6vw;
    
                img{
                    width: 1.3vw;
                }
            }
    
            .news-point-text{
                font-size: var(--font-small);
            }
    
            .news-point-source{
                font-size: var(--font-small);
            }
        }
    }

}

@media (max-width: 768px) {

    .news-box {
        gap: 3.8vw;
        width: 55vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
    
        .news-box-title {
            font-size: var(--font-verybig);
            gap: 1vw;
            margin-bottom: 1vw;
        }
    
        .news-point{
            padding: 2.3vw;
            gap: 2.2vw;
            border-radius: 1vw;
    
            .news-point-title{
                font-size: var(--font-normal);
                gap: 0.6vw;
    
                img{
                    width: 1.3vw;
                }
            }
    
            .news-point-text{
                font-size: var(--font-small);
            }
    
            .news-point-source{
                font-size: var(--font-small);
            }
        }
    }

}

@media (max-width: 600px) {

    .news-box {
        gap: 5vw;
        width: 75vw;
        margin-top: 3vw;
        margin-bottom: 7vw;
    
        .news-box-title {
            font-size: var(--font-verybig);
            gap: 1vw;
            margin-bottom: 1vw;
        }
    
        .news-point{
            padding: 2.6vw;
            gap: 2.8vw;
            border-radius: 1.2vw;
    
            .news-point-title{
                font-size: var(--font-normal);
                gap: 0.6vw;
    
                img{
                    width: 1.3vw;
                }
            }
    
            .news-point-text{
                font-size: var(--font-small);
            }
    
            .news-point-source{
                font-size: var(--font-small);
            }
        }
    }

}

@media (max-width: 480px) {

    .news-box {
        gap: 6vw;
        width: 75vw;
        margin-top: 4vw;
        margin-bottom: 9vw;
    
        .news-box-title {
            font-size: var(--font-verybig);
            gap: 1vw;
            margin-bottom: 1vw;
        }
    
        .news-point{
            padding: 3.2vw;
            gap: 2.8vw;
            border-radius: 1.5vw;
    
            .news-point-title{
                font-size: var(--font-normal);
                gap: 0.6vw;
    
                img{
                    width: 1.3vw;
                }
            }
    
            .news-point-text{
                font-size: var(--font-small);
            }
    
            .news-point-source{
                font-size: var(--font-small);
            }
        }
    }

}