.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6vw;
    margin-top: 1vw;
    width: 26vw;
    margin-bottom: 3vw;
    
    .profile-user-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.9vw;

        .profile-user-title {
            font-weight: 500;
            font-size: var(--font-verybig);
        }

        .profile-user-img {
            width: 9.3vw;
            height: 9.3vw;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .profile-characteristics-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.8vw;
        background-color: #222222;
        padding: 0.9vw;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.5vw;
        position: relative;

        .profile-characteristics-buttonChange {
            position: absolute;
            right: 1vw;
            top: 1vw;
        }

        .profile-characteristics-title {
            font-size: var(--font-big);
            font-weight: 400;
        }

        .profile-characteristics-point {
            font-weight: 300;
            font-size: var(--font-normal);

            span{
                color: #B8B8B8;
                font-weight: 400;
            }
        }
    }

    .profile-statistics-box{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.2vw;
        text-align: center;   


        .profile-statistics-subbox{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.5vw;
            width: 100%;
            background-color: #222222;
            height: 5.5vw;

            p{
                font-size: var(--font-normal);
                font-weight: 300;
                height: 54%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span{
                font-size: var(--font-normal);
                font-weight: 500;
                height: 46%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            hr{
                width: 100%;
                height: 0.1vw;
                border: none;
                background-color: #424242;
            }
        }
    }
    
}

// МОДАЛКА МОДАЛКА МОДАЛКА

.profileChange-form {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 23vw;
    height: fit-content;
    background-color: #222222;
    color: white;
    transition: all 0.8s ease;
    padding: 1vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
    gap: 1vw;
    border-radius: 0.3vw;
    z-index: 999;

    .profileChange-form-point {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        border-radius: 0.1vw;
        width: 100%;
        height: 3.6vw;
        box-sizing: border-box;
        border: solid 0.12vw #424242;


        .profileChange-form-point-title { 
            color: #B8B8B8;
            font-size: var(--font-small);
            margin-left: 0.6vw;
            margin-top: 0.4vw;
        }

        .profileChange-form-point-input {
            font-size: var(--font-normal);
            font-weight: 300;
            color: #ffffff;
            margin-left: 0.6vw;
            margin-bottom: 0.4vw;
        }

        .profileChange-form-point-select {
            appearance: none;
            width: 98%;
            height: fit-content;
            border-radius: 0.2vw;
            cursor: pointer;
            background: none;
            border: none;
          }

          .profileChange-form-point-select:focus {
            outline: none;
          }

          .profileChange-form-point-select option{
            background-color: #292929;
          }
    }

    .profileChange-form-submit {
        background-color: #424242;
        color: #ffffff;
        width: 100%;
        height: 3.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5vw;
        font-size: 1vw;
    }
}

body.modal-active {
    overflow: hidden;
    background-color: #0a0a0a;
    transition: background-color 0.3s;
}

body.modal-active::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.9px);
    z-index: 1;
    transition: all 0.3s;
}

.profileChange-form.open {
    top: 50%;
    transform: translate(-50%, -50%);
}

// график график график

:root {
    --margin-top: 30vw;
    --margin-right: 30vw;
    --margin-bottom: 40vw;
    --margin-left: 86vw;
    --chart-width: 800x;
    --chart-height: 400px;
}

#chart {
    width: 100%;
    height: auto;
    background-color: #222222;
    border-radius: 0.5vw;
}

.axis-text {
    font-size: 1.3vw;
    fill: #ffffff;
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
}

.grid line {
    stroke: #424242;
    stroke-opacity: 1;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

@media (max-width: 1440px) {
    

    .profile {
        gap: 2vw;
        margin-top: 1vw;
        width: 36vw;
        margin-bottom: 3vw;
        
        .profile-user-box {
            gap: 1.1vw;
    
            .profile-user-title {
                font-size: var(--font-verybig);
            }
    
            .profile-user-img {
                width: 12.3vw;
                height: 12.3vw;
                border-radius: 50%;
            }
        }
    
        .profile-characteristics-box {
            gap: 1.1vw;
            padding: 1vw;
            width: 100%;
            border-radius: 0.5vw;
    
            .profile-characteristics-buttonChange {
                right: 1vw;
                top: 1vw;
            }
    
            .profile-characteristics-title {
                font-size: var(--font-big);
            }
    
            .profile-characteristics-point {
                font-size: var(--font-normal);
    
                span{
                }
            }
        }
    
        .profile-statistics-box{
            width: 100%;
            gap: 1.2vw;
    
    
            .profile-statistics-subbox{
                border-radius: 0.5vw;
                width: 100%;
                height: 6.5vw;
    
                p{
                    font-size: var(--font-normal);
                    font-weight: 300;
                    height: 54%;
                }
    
                span{
                    font-size: var(--font-normal);
                    font-weight: 500;
                    height: 46%;
                }
            
                hr{
                    width: 100%;
                    height: 0.1vw;
                }
            }
        }
        
    }
    
    // МОДАЛКА МОДАЛКА МОДАЛКА
    
    .profileChange-form {
        top: -100%;
        width: 23vw;
        transition: all 0.8s ease;
        padding: 1vw;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        gap: 1vw;
        border-radius: 0.3vw;
    
        .profileChange-form-point {
            border-radius: 0.1vw;
            width: 100%;
            height: 3.6vw;
            border: solid 0.12vw #424242;
    
            .profileChange-form-point-title { 
                font-size: var(--font-small);
                margin-left: 0.6vw;
                margin-top: 0.4vw;
            }
    
            .profileChange-form-point-input {
                font-weight: 300;
                color: #ffffff;
                margin-left: 0.6vw;
                margin-bottom: 0.4vw;
            }
    
            .profileChange-form-point-select {
                width: 98%;
                border-radius: 0.2vw;
              }
        }
    
        .profileChange-form-submit {
            height: 3.5vw;
            border-radius: 0.5vw;
            font-size: 1vw;
        }
    }
    
    body.modal-active {
        transition: background-color 0.3s;
    }
    
    body.modal-active::before {
        backdrop-filter: blur(0.9px);
        transition: all 0.3s;
    }
    
    .profileChange-form.open {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    // график график график
    
    :root {
        --margin-top: 30vw;
        --margin-right: 30vw;
        --margin-bottom: 40vw;
        --margin-left: 86vw;
        --chart-width: 800x;
        --chart-height: 400px;
    }
    
    #chart {
        width: 100%;
        border-radius: 0.5vw;
    }
    
    .axis-text {
        font-size: 2vw;
    }

}



@media (max-width: 1024px) {
  
    .profile {
        gap: 2.6vw;
        margin-top: 1vw;
        width: 46vw;
        margin-bottom: 3vw;
        
        .profile-user-box {
            gap: 1.1vw;
    
            .profile-user-title {
                font-size: var(--font-verybig);
            }
    
            .profile-user-img {
                width: 16vw;
                height: 16vw;
                border-radius: 50%;
            }
        }
    
        .profile-characteristics-box {
            gap: 1.5vw;
            padding: 1.3vw;
            width: 100%;
            border-radius: 0.7vw;
    
            .profile-characteristics-buttonChange {
                right: 1vw;
                top: 1vw;
            }
    
            .profile-characteristics-title {
                font-size: var(--font-big);
            }
    
            .profile-characteristics-point {
                font-size: var(--font-normal);
    
                span{
                }
            }
        }
    
        .profile-statistics-box{
            width: 100%;
            gap: 2vw;
    
    
            .profile-statistics-subbox{
                border-radius: 0.7vw;
                width: 100%;
                height: 9vw;
    
                p{
                    font-size: var(--font-normal);
                    font-weight: 300;
                    height: 54%;
                }
    
                span{
                    font-size: var(--font-normal);
                    font-weight: 500;
                    height: 46%;
                }
            
                hr{
                    width: 100%;
                    height: 0.1vw;
                }
            }
        }
        
    }
    
    // МОДАЛКА МОДАЛКА МОДАЛКА
    
    .profileChange-form {
        top: -100%;
        width: 23vw;
        transition: all 0.8s ease;
        padding: 1vw;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        gap: 1vw;
        border-radius: 0.3vw;
    
        .profileChange-form-point {
            border-radius: 0.1vw;
            width: 100%;
            height: 3.6vw;
            border: solid 0.12vw #424242;
    
            .profileChange-form-point-title { 
                font-size: var(--font-small);
                margin-left: 0.6vw;
                margin-top: 0.4vw;
            }
    
            .profileChange-form-point-input {
                font-weight: 300;
                color: #ffffff;
                margin-left: 0.6vw;
                margin-bottom: 0.4vw;
            }
    
            .profileChange-form-point-select {
                width: 98%;
                border-radius: 0.2vw;
              }
        }
    
        .profileChange-form-submit {
            height: 3.5vw;
            border-radius: 0.5vw;
            font-size: 1vw;
        }
    }
    
    body.modal-active {
        transition: background-color 0.3s;
    }
    
    body.modal-active::before {
        backdrop-filter: blur(0.9px);
        transition: all 0.3s;
    }
    
    .profileChange-form.open {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    // график график график
    
    :root {
        --margin-top: 30vw;
        --margin-right: 30vw;
        --margin-bottom: 40vw;
        --margin-left: 100vw;
        --chart-width: 800x;
        --chart-height: 400px;
    }
    
    #chart {
        width: 100%;
        border-radius: 0.7vw;
    }
    
    .axis-text {
        font-size: 3vw;
    }

}



@media (max-width: 768px) {

    .profile {
        gap: 3.3vw;
        margin-top: 1vw;
        width: 62vw;
        margin-bottom: 3vw;
        
        .profile-user-box {
            gap: 1.6vw;
    
            .profile-user-title {
                font-size: var(--font-verybig);
            }
    
            .profile-user-img {
                width: 23vw;
                height: 23vw;
                border-radius: 50%;
            }
        }
    
        .profile-characteristics-box {
            gap: 2vw;
            padding: 1.7vw;
            width: 100%;
            border-radius: 0.8vw;
    
            .profile-characteristics-buttonChange {
                right: 2vw;
                top: 2vw;
            }
    
            .profile-characteristics-title {
                font-size: var(--font-big);
            }
    
            .profile-characteristics-point {
                font-size: var(--font-normal);
    
                span{
                }
            }
        }
    
        .profile-statistics-box{
            width: 100%;
            gap: 2.3vw;
    
    
            .profile-statistics-subbox{
                border-radius: 0.8vw;
                width: 100%;
                height: 14vw;
    
                p{
                    font-size: var(--font-normal);
                    font-weight: 300;
                    height: 54%;
                }
    
                span{
                    font-size: var(--font-normal);
                    font-weight: 500;
                    height: 46%;
                }
            
                hr{
                    width: 100%;
                    height: 0.1vw;
                }
            }
        }
        
    }
    
    // МОДАЛКА МОДАЛКА МОДАЛКА
    
    .profileChange-form {
        top: -100%;
        width: 23vw;
        transition: all 0.8s ease;
        padding: 1vw;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        gap: 1vw;
        border-radius: 0.3vw;
    
        .profileChange-form-point {
            border-radius: 0.1vw;
            width: 100%;
            height: 3.6vw;
            border: solid 0.12vw #424242;
    
            .profileChange-form-point-title { 
                font-size: var(--font-small);
                margin-left: 0.6vw;
                margin-top: 0.4vw;
            }
    
            .profileChange-form-point-input {
                font-weight: 300;
                color: #ffffff;
                margin-left: 0.6vw;
                margin-bottom: 0.4vw;
            }
    
            .profileChange-form-point-select {
                width: 98%;
                border-radius: 0.2vw;
              }
        }
    
        .profileChange-form-submit {
            height: 3.5vw;
            border-radius: 0.5vw;
            font-size: 1vw;
        }
    }
    
    body.modal-active {
        transition: background-color 0.3s;
    }
    
    body.modal-active::before {
        backdrop-filter: blur(0.9px);
        transition: all 0.3s;
    }
    
    .profileChange-form.open {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    // график график график
    
    :root {
        --margin-top: 30vw;
        --margin-right: 36vw;
        --margin-bottom: 40vw;
        --margin-left: 110vw;
        --chart-width: 800x;
        --chart-height: 400px;
    }
    
    #chart {
        width: 100%;
        border-radius: 0.8vw;
    }
    
    .axis-text {
        font-size: 5vw;
    }

}


@media (max-width: 600px) {

    .profile {
        gap: 4.3vw;
        margin-top: 1vw;
        width: 85vw;
        margin-bottom: 3vw;
        
        .profile-user-box {
            gap: 1.6vw;
    
            .profile-user-title {
                font-size: var(--font-verybig);
            }
    
            .profile-user-img {
                width: 33vw;
                height: 33vw;
                border-radius: 50%;
            }
        }
    
        .profile-characteristics-box {
            gap: 2.5vw;
            padding: 2.2vw;
            width: 100%;
            border-radius: 0.9vw;
    
            .profile-characteristics-buttonChange {
                right: 2vw;
                top: 2vw;
            }
    
            .profile-characteristics-title {
                font-size: var(--font-big);
            }
    
            .profile-characteristics-point {
                font-size: var(--font-normal);
    
                span{
                }
            }
        }
    
        .profile-statistics-box{
            width: 100%;
            gap: 2.6vw;
    
    
            .profile-statistics-subbox{
                border-radius: 0.9vw;
                width: 100%;
                height: 20vw;
    
                p{
                    font-size: var(--font-normal);
                    font-weight: 300;
                    height: 54%;
                }
    
                span{
                    font-size: var(--font-normal);
                    font-weight: 500;
                    height: 46%;
                }
            
                hr{
                    width: 100%;
                    height: 0.1vw;
                }
            }
        }
        
    }
    
    // МОДАЛКА МОДАЛКА МОДАЛКА
    
    .profileChange-form {
        top: -100%;
        width: 23vw;
        transition: all 0.8s ease;
        padding: 1vw;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        gap: 1vw;
        border-radius: 0.3vw;
    
        .profileChange-form-point {
            border-radius: 0.1vw;
            width: 100%;
            height: 3.6vw;
            border: solid 0.12vw #424242;
    
            .profileChange-form-point-title { 
                font-size: var(--font-small);
                margin-left: 0.6vw;
                margin-top: 0.4vw;
            }
    
            .profileChange-form-point-input {
                font-weight: 300;
                color: #ffffff;
                margin-left: 0.6vw;
                margin-bottom: 0.4vw;
            }
    
            .profileChange-form-point-select {
                width: 98%;
                border-radius: 0.2vw;
              }
        }
    
        .profileChange-form-submit {
            height: 3.5vw;
            border-radius: 0.5vw;
            font-size: 1vw;
        }
    }
    
    body.modal-active {
        transition: background-color 0.3s;
    }
    
    body.modal-active::before {
        backdrop-filter: blur(0.9px);
        transition: all 0.3s;
    }
    
    .profileChange-form.open {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    // график график график
    
    :root {
        --margin-top: 30vw;
        --margin-right: 36vw;
        --margin-bottom: 40vw;
        --margin-left: 110vw;
        --chart-width: 800x;
        --chart-height: 400px;
    }
    
    #chart {
        width: 100%;
        border-radius: 0.9vw;
    }
    
    .axis-text {
        font-size: 7vw;
    }

}



@media (max-width: 480px) {

    .profile {
        gap: 6.5vw;
        margin-top: 1vw;
        width: 92vw;
        margin-bottom: 3vw;
        
        .profile-user-box {
            gap: 2vw;
    
            .profile-user-title {
                font-size: var(--font-verybig);
            }
    
            .profile-user-img {
                width: 35vw;
                height: 35vw;
                border-radius: 50%;
            }
        }
    
        .profile-characteristics-box {
            gap: 2.5vw;
            padding: 2.8vw;
            width: 100%;
            border-radius: 1.5vw;
    
            .profile-characteristics-buttonChange {
                right: 3vw;
                top: 3vw;
            }
    
            .profile-characteristics-title {
                font-size: var(--font-big);
            }
    
            .profile-characteristics-point {
                font-size: var(--font-normal);
    
                span{
                }
            }
        }
    
        .profile-statistics-box{
            width: 100%;
            gap: 4vw;
    
    
            .profile-statistics-subbox{
                border-radius: 1.5vw;
                width: 100%;
                height: 26vw;
    
                p{
                    font-size: var(--font-normal);
                    font-weight: 300;
                    height: 54%;
                }
    
                span{
                    font-size: var(--font-normal);
                    font-weight: 500;
                    height: 46%;
                }
            
                hr{
                    width: 100%;
                    height: 0.6vw;
                }
            }
        }
        
    }
    
    // МОДАЛКА МОДАЛКА МОДАЛКА
    
    .profileChange-form {
        top: -100%;
        width: 23vw;
        transition: all 0.8s ease;
        padding: 1vw;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        gap: 1vw;
        border-radius: 0.3vw;
    
        .profileChange-form-point {
            border-radius: 0.1vw;
            width: 100%;
            height: 3.6vw;
            border: solid 0.12vw #424242;
    
            .profileChange-form-point-title { 
                font-size: var(--font-small);
                margin-left: 0.6vw;
                margin-top: 0.4vw;
            }
    
            .profileChange-form-point-input {
                font-weight: 300;
                color: #ffffff;
                margin-left: 0.6vw;
                margin-bottom: 0.4vw;
            }
    
            .profileChange-form-point-select {
                width: 98%;
                border-radius: 0.2vw;
              }
        }
    
        .profileChange-form-submit {
            height: 3.5vw;
            border-radius: 0.5vw;
            font-size: 1vw;
        }
    }
    
    body.modal-active {
        transition: background-color 0.3s;
    }
    
    body.modal-active::before {
        backdrop-filter: blur(0.9px);
        transition: all 0.3s;
    }
    
    .profileChange-form.open {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    // график график график
    
    :root {
        --margin-top: 40vw;
        --margin-right: 50vw;
        --margin-bottom: 50vw;
        --margin-left: 130vw;
        --chart-width: 800x;
        --chart-height: 400px;
    }
    
    #chart {
        width: 100%;  
        border-radius: 1.5vw;
    }
    
    .axis-text {
        font-size: 10vw;
    }

    .line {
        stroke-width: 5;
    }

}



