.referrals {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25vw;
    height: fit-content;
    padding: 1vw;
    background-color: #222222;
    border-radius: 0.5vw;
    gap: 1.2vw;

    .referrals-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;
        font-weight: 500;
        font-size: var(--font-normal);

        img{
            width: 1.3vw;
            height: auto;
        }
    }

    .referrals-subtitle {
        font-weight: 300;
        font-size: var(--font-small);
    }

    .referrals-list {
        margin-top: 0.3vw;
        margin-bottom: 0.3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1.1vw;

        .referrals-list-point {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5vw;

            .referrals-list-point-avatar {
                width: 3vw;
                height: 3vw;
                border-radius: 36%;
                background-color: #111111;
            }

            .referrals-list-point-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 0.4vw;

                .referrals-list-point-name {
                    font-size: var(--font-small);
                    font-weight: 600;
                }

                .referrals-list-point-time {
                    font-size: var(--font-small);
                    font-weight: 500;
                    color: #B8B8B8;
                }
            }
        }
    }

    .referrals-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 47.5%;
            height: 2vw;
            background-color: #424242;
            border-radius: 0.5vw;
            gap: 0.4vw;
            font-size: var(--font-small);
            transition: all 0.5s;

            img {
                width: 0.7vw;
                height: auto;
            }
        }

        button:active {
            transform: scale(0.93);
        }
    }
    
}


@media (max-width: 1440px) {

    .referrals {
        margin-top: 4vw;
        width: 30vw;
        padding: 1.3vw;
        border-radius: 0.8vw;
        gap: 1.5vw;
    
        .referrals-title {
            gap: 0.5vw;
            font-size: var(--font-normal);
    
            img{
                width: 1.8vw;
            }
        }
    
        .referrals-subtitle {
            font-size: var(--font-small);
        }
    
        .referrals-list {
            margin-top: 0.3vw;
            margin-bottom: 0.3vw;
            gap: 1.5vw;
    
            .referrals-list-point {
                gap: 0.7vw;
    
                .referrals-list-point-avatar {
                    width: 4.3vw;
                    height: 4.3vw;
                    border-radius: 36%;
                }
    
                .referrals-list-point-details {
                    gap: 0.7vw;
    
                    .referrals-list-point-name {
                        font-size: var(--font-small);
                    }
    
                    .referrals-list-point-time {
                        font-size: var(--font-small);
                    }
                }
            }
        }
    
        .referrals-buttons {
            width: 100%;
    
            button {
                width: 47.5%;
                height: 3.2vw;
                border-radius: 0.5vw;
                gap: 0.5vw;
                font-size: var(--font-small);
                transition: all 0.5s;
    
                img {
                    width: 1.1vw;
                }
            }
    
            button:active {
                transform: scale(0.93);
            }
        }
        
    }

}

@media (max-width: 1024px) {


    .referrals {
        margin-top: 4vw;
        width: 35vw;
        padding: 1.6vw;
        border-radius: 0.9vw;
        gap: 1.8vw;
    
        .referrals-title {
            gap: 0.8vw;
            font-size: var(--font-normal);
    
            img{
                width: 2.2vw;
            }
        }
    
        .referrals-subtitle {
            font-size: var(--font-small);
        }
    
        .referrals-list {
            margin-top: 0.3vw;
            margin-bottom: 0.3vw;
            gap: 1.8vw;
    
            .referrals-list-point {
                gap: 0.7vw;
    
                .referrals-list-point-avatar {
                    width: 5.5vw;
                    height: 5.5vw;
                    border-radius: 36%;
                }
    
                .referrals-list-point-details {
                    gap: 0.7vw;
    
                    .referrals-list-point-name {
                        font-size: var(--font-small);
                    }
    
                    .referrals-list-point-time {
                        font-size: var(--font-small);
                    }
                }
            }
        }
    
        .referrals-buttons {
            width: 100%;
    
            button {
                width: 47.5%;
                height: 4.2vw;
                border-radius: 0.8vw;
                gap: 0.7vw;
                font-size: var(--font-small);
                transition: all 0.5s;
    
                img {
                    width: 1.5vw;
                }
            }
    
            button:active {
                transform: scale(0.93);
            }
        }
        
    }

}

@media (max-width: 768px) {

    .referrals {
        margin-top: 4vw;
        width: 46vw;
        padding: 2vw;
        border-radius: 1vw;
        gap: 2.5vw;
    
        .referrals-title {
            gap: 0.9vw;
            font-size: var(--font-normal);
    
            img{
                width: 2.9vw;
            }
        }
    
        .referrals-subtitle {
            font-size: var(--font-small);
        }
    
        .referrals-list {
            margin-top: 0.3vw;
            margin-bottom: 0.3vw;
            gap: 2.2vw;
    
            .referrals-list-point {
                gap: 1.1vw;
    
                .referrals-list-point-avatar {
                    width: 7.5vw;
                    height: 7.5vw;
                    border-radius: 36%;
                }
    
                .referrals-list-point-details {
                    gap: 1.1vw;
    
                    .referrals-list-point-name {
                        font-size: var(--font-small);
                    }
    
                    .referrals-list-point-time {
                        font-size: var(--font-small);
                    }
                }
            }
        }
    
        .referrals-buttons {
            width: 100%;
    
            button {
                width: 47.5%;
                height: 5.1vw;
                border-radius: 0.8vw;
                gap: 0.9vw;
                font-size: var(--font-small);
                transition: all 0.5s;
    
                img {
                    width: 1.8vw;
                }
            }
    
            button:active {
                transform: scale(0.93);
            }
        }
        
    }

}

@media (max-width: 600px) {

    .referrals {
        margin-top: 4vw;
        width: 65vw;
        padding: 3vw;
        border-radius: 1.2vw;
        gap: 3vw;
    
        .referrals-title {
            gap: 1.5vw;
            font-size: var(--font-normal);
    
            img{
                width: 4.5vw;
            }
        }
    
        .referrals-subtitle {
            font-size: var(--font-small);
        }
    
        .referrals-list {
            margin-top: 0.3vw;
            margin-bottom: 0.3vw;
            gap: 2.6vw;
    
            .referrals-list-point {
                gap: 1.1vw;
    
                .referrals-list-point-avatar {
                    width: 11vw;
                    height: 11vw;
                    border-radius: 36%;
                }
    
                .referrals-list-point-details {
                    gap: 1.1vw;
    
                    .referrals-list-point-name {
                        font-size: var(--font-small);
                    }
    
                    .referrals-list-point-time {
                        font-size: var(--font-small);
                    }
                }
            }
        }
    
        .referrals-buttons {
            width: 100%;
    
            button {
                width: 47.5%;
                height: 8vw;
                border-radius: 1.1vw;
                gap: 1vw;
                font-size: var(--font-small);
                transition: all 0.5s;
    
                img {
                    width: 3vw;
                }
            }
    
            button:active {
                transform: scale(0.93);
            }
        }
        
    }

}

@media (max-width: 480px) {

    .referrals {
        margin-top: 4vw;
        width: 70vw;
        padding: 4vw;
        border-radius: 1.5vw;
        gap: 4vw;
    
        .referrals-title {
            gap: 1.8vw;
            font-size: var(--font-normal);
    
            img{
                width: 6vw;
            }
        }
    
        .referrals-subtitle {
            font-size: var(--font-small);
        }
    
        .referrals-list {
            margin-top: 0.6vw;
            margin-bottom: 0.8vw;
            gap: 4vw;
    
            .referrals-list-point {
                gap: 2.2vw;
    
                .referrals-list-point-avatar {
                    width: 14vw;
                    height: 14vw;
                    border-radius: 36%;
                }
    
                .referrals-list-point-details {
                    gap: 2.2vw;
    
                    .referrals-list-point-name {
                        font-size: var(--font-small);
                    }
    
                    .referrals-list-point-time {
                        font-size: var(--font-small);
                    }
                }
            }
        }
    
        .referrals-buttons {
            width: 100%;
            flex-direction: column;
            gap: 3vw;
    
            button {
                width: 100%;
                height: 9.2vw;
                border-radius: 1.5vw;
                gap: 1.5vw;
                font-size: var(--font-small);
                transition: all 0.5s;
    
                img {
                    width: 3.8vw;
                }
            }
    
            button:active {
                transform: scale(0.93);
            }
        }
        
    }

}